[Desktop Entry]
Name=E-Tech_Print
GenericName=E-Tech_Print
Comment=E-Tech_Print
Exec=AppRun %F
Icon=default
Terminal=false
Type=Application
Categories=Development;